@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans');

html {
  height: 3000px;
}

.title-font {
  font-family: 'Merriweather', sans-serif;
  font-size: 2rem;
}

.subtitle-font {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.4rem;
}

.paragraph-font {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.2rem;
}

.description-font {
  font-family: 'Merriweather Sans', sans-serif;
  font-style: italic;
}

.highlight.primary {
  color: #db995a;
}

.highlight.secondary {
  color: #db3069;
}

.layout {
  margin: 0 auto;
  max-width: 80vw;
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 4rem;
}

.header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.read-progress {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  height: .4rem;
  width: 100vw;
  z-index: 3;
}

.read-progress.common::-webkit-progress-value {
  background: #db995a;
}

.read-progress.mobile::-webkit-progress-value {
  background: #db3069;
}

.header-bar {
  background: #342e37;
  display: inline-block;
  height: 3rem;
  width: 100vw;
  z-index: 3;
}

.header-bar.mobile {
  box-shadow: 0px .05rem .3rem #000000;
}

.header-bar.common {
  box-shadow: 0px 4rem .4rem #000000;
}

.logo {
  float: left;
  height: 3rem;
  width: 3rem;
}

.button-container {
  align-items: center;
  display: flex;
  float: right;
  height: 100%;
  margin-right: 3.5vw;
}

.menu-button {
  background: #342e37;
  border: none;
  border-radius: 4rem;
  color: #fff;
  height: 3rem;
  outline: none;
  padding: .2rem;
  width: 3rem;
}

@keyframes buttonSpin {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: rotate(720deg);
    }
}

@keyframes buttonSpinBack {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: rotate(-720deg);
    }
}

.menu-button.open {
  animation: buttonSpinBack .8s ease-out;
  font-size: 1.2rem;
}

.menu-button.closed {
  animation: buttonSpin .8s ease-out;
  font-size: 1.8rem;
}

.nav.common {
  float: right;
  height: 3rem;
}

.nav.mobile {
  float: none;
  height: auto;
  z-index: 2;
}

.menu {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}

.menu.common {
  height: 100%;
}

.menu.mobile {
  background-color: #fefefeef;
  flex-direction: column;
  transform: translate(0, -110vh);
  transform-origin: top;
  transition: transform .75s ease;
}

.menu.mobile.open {
  height: auto;
  transform: translate(0, 0);
}

.page {
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  font-family: 'Merriweather Sans', sans-serif;
}

.page.common {
  color: #fff;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  transition: border .15s, color .6s;
}

.page.mobile {
  border-bottom: 2px solid #eee;
  color: #1446a0;
  padding: 5vh;
  transition: background .3s, border .3s, color .4s;
  width: 100vw;
}

.page.common.selected {
  border-bottom: .1rem solid #db995a;
  color: #db995a;
}

.page.mobile.selected {
  background: #dddddd88;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
  color: #db3069;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  margin-top: 1rem;
}

.main-icon {
  border-radius: 6rem;
  border-style: solid;
  border-width: .2rem;
  height: 11rem;
  padding: auto;
  transition: border .1s, transform .2s;
  width: 11rem;
}

.main-icon {
  border-color: #db995a;
}

/*Adapted from https://css-tricks.com/snippets/css/shake-css-keyframe-animation/*/
@keyframes shake {
  10%, 90% {
    transform: translate(-1px, 0) rotate(10deg);
  }
  20%, 80% {
    transform: translate(1px, 0) rotate(-10deg);
  }
  30%, 50%, 70% {
    transform: translate(-2px, 0) rotate(10deg);
  }
  40%, 60% {
    transform: translate(2px, 0) rotate(-10deg);
  }
}

/*add hover effect here*/
@media screen and (min-width: 768px) {
  .logo:hover {
    animation: shake 1.2s cubic-bezier(.36, .07, .19, .97) infinite backwards;
  }

  .main-icon:hover {
    border-style: dashed;
    border-width: .3rem;
    transform: scale(1.05);
  }

  .page.common:hover {
    border-bottom: .1rem solid #db995a;
    color: #db995a;
  }
}
